<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Internet radio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="App" ng-controller="appCtrl">
    <h1>Internet radio</h1>
    <small>Source from: <a href="https://www.internet-radio.com/" target="_blank">here</a></small>
    
    <div id="Player" class="player" station="selectedStation">
        <audio controls autoplay></audio>
        <h4>{{selectedStation.title}}</h4>
        <a href="{{selectedStation.url}}" target="_blank">{{selectedStation.url}}</a>
    </div>

    <div id="Filters">
    	<span class="tag" ng-repeat="tag in tags">{{tag.name}}</span>
    </div>
    
    <div id="StationsList">
        <p>Total: {{list.length}}</p>
        <div class="station" ng-repeat="stat in list" ng-click="select(stat)">
            <h4>{{stat.title}}</h4>
        </div>
    </div>


	<!-- SCRIPT -->
    <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.17/angular.js" data-semver="1.3.17"></script>
    <script src="app.js"></script>
</body>
</html>
