.md-toolbar-tools h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

#Player {
	top:0;
	left:0;
	right:0;
	height:100px;
	position:fixed;
	background-color:aliceblue;}
.radio-player .md-fab {
	float:left;
	color:white;
	font-size:20px;
	line-height:1;
	text-align:center;
	vertical-align:middle;}
.radio-player-title,
.radio-player-subtitle {
	display:block;
	padding-left:80px;}
.radio-player-title {
	padding-top:10px;
	line-height:30px;}
.radio-player-subtitle {line-height:20px;}

.radio-player-volume {
	float:left;
	clear:left;
	width:300px;}

.radio-player-tags {
	padding-left:300px;
	text-align:right}


#Library {margin-top:100px}

.radio-categories {
	float:left;
	width:200px}

.radio-list {padding-left:200px}