.md-toolbar-tools h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}


.radio-player {clear:both}
.radio-player .radio-player-button {}
.radio-player .pause-state {background-color:red}
.radio-player .play-state {background-color:green}


#Library {}

.radio-categories {
	float:left;
	width:200px}

.radio-list {padding-left:200px}